/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.header {
  min-height: 80px;
  width: 100vw;
  background-color: #343930;
}
div.header div.container {
  height: 80px;
}
div.header div.container div.row {
  height: 100%;
}
div.header div.container div.row div.hnav nav {
  text-align: center;
}
div.header div.container div.row div.hnav nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  font-size: 0;
}
div.header div.container div.row div.hnav nav ul li {
  display: inline-block;
}
div.header div.container div.row div.hnav nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #e8cba6;
  font-size: 22px;
  padding: 21px;
  padding-top: 37px;
  transition: 0.6s;
}
div.header div.container div.row div.hnav nav ul li a.micasa {
  font-size: 46px;
  font-family: "Leckerli One", cursive;
  padding: 17px;
}
div.header div.container div.row div.hnav nav ul li a.micasa:hover {
  background-color: #343930;
  color: #e8cba6;
}
div.header div.container div.row div.hnav nav ul li a:hover {
  color: #343930;
  background-color: #e8cba6;
}

div.footer {
  width: 100vw;
  background-color: #343930;
}
div.footer div.container div.fupper {
  height: 150px;
}
div.footer div.container div.fupper div.ficons nav {
  margin-top: 20px;
}
div.footer div.container div.fupper div.ficons nav ul li {
  display: inline-block;
}
div.footer div.container div.fupper div.ficons nav ul li a {
  margin-right: 10px;
  color: #e8cba6;
  font-size: 32px;
  transition: 0.6s;
}
div.footer div.container div.fupper div.ficons nav ul li a:hover {
  color: #e99573;
}
div.footer div.container div.fupper div.fnav nav ul li {
  text-align: center;
  margin: 10px 0;
}
div.footer div.container div.fupper div.fnav nav ul li a {
  text-decoration: none;
  color: #e8cba6;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  padding: 2px 15px;
  transition: 0.6s;
}
div.footer div.container div.fupper div.fnav nav ul li a:hover {
  border-bottom: 1px solid #e99573;
  color: #e99573;
}
div.footer div.container div.flower {
  height: 60px;
}
div.footer div.container div.flower p {
  text-align: center;
  color: #e8cba6;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin-top: 20px;
}
div.footer div.container div.flower p span {
  font-family: "Leckerli One", cursive;
  font-size: 13px;
}

body {
  background-color: #343930;
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
}

.lighter {
  background-color: #f7ecdf;
}

.darker {
  background-color: #343930;
}

.darkerc {
  background-color: #bea37e;
}

.lighterb {
  border: 2px solid #343930;
  background-color: #f7ecdf;
  color: #343930;
}

.darkerb {
  border: 2px solid #e8cba6;
  background-color: #343930;
  color: #e8cba6;
}

.darkera {
  color: #e8cba6;
  background-color: #343930;
}

.lightera {
  color: #343930;
  background-color: #f7ecdf;
}

.mixed {
  color: #343930;
  background-color: #f7ecdf;
  border: 1px solid #343930;
}

.lightera:hover {
  border: 1px solid #f7ecdf;
  color: #f7ecdf;
  background-color: #343930;
}

.darkera:hover {
  background-color: #f7ecdf;
  color: #343930;
  border: 1px solid #343930;
}

.mixed:hover {
  color: #343930;
  background-color: #e8cba6;
}

div.hero {
  width: 100vw;
  height: 880px;
  background-image: url("../img/heroRet.jpg");
  background-size: cover;
  background-position: center;
}
div.hero div.row {
  height: 100%;
}
div.hero div.row div.col {
  text-align: center;
  margin: 550px 0;
}
div.hero div.row div.col a {
  background-color: rgba(52, 57, 48, 0.8);
  color: #e8cba6;
  font-size: 36px;
  text-decoration: none;
  padding: 5px 50px;
  transition: 0.6s;
}
div.hero div.row div.col a:hover {
  background-color: rgba(232, 203, 166, 0.8);
  color: #343930;
}

div.ghouse {
  width: 100vw;
  height: 450px;
}
div.ghouse div.container {
  height: 450px;
}
div.ghouse div.container div.row div.col {
  margin-top: 50px;
  height: 350px;
  text-align: center;
}
div.ghouse div.container div.row div.col h2 {
  margin: 50px 0;
  font-size: 36px;
}
div.ghouse div.container div.row div.col h3 {
  margin-top: 20px;
  font-size: 20px;
}
div.ghouse div.container div.row div.col div.text {
  max-width: 45vw;
  height: 30%;
  margin: 0 auto;
}
div.ghouse div.container div.row div.col div.text p {
  font-size: 18px;
}
div.ghouse div.container div.row div.col div.button {
  margin-top: 30px;
}
div.ghouse div.container div.row div.col div.button a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px 30px;
  transition: 0.6s;
}

.prev {
  height: 500px;
}

.block {
  height: 500px;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  background-size: cover;
  background-position: center;
}
.block img {
  text-align: center;
  height: 480px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 45%;
}
.buttons a {
  text-decoration: none;
  color: #343930;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 20px;
  font-size: 62px;
}
.buttons a:hover {
  color: #f7ecdf;
}

.photos {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.active {
  opacity: 1;
}

.block1 {
  background-image: url("../img/gallery/ghouse/house1.jpg");
}

.block2 {
  background-image: url("../img/gallery/ghouse/house5.jpg");
}

.block3 {
  background-image: url("../img/gallery/ghouse/room1.jpg");
}

.block4 {
  background-image: url("../img/gallery/ghouse/sauna.jpg");
}

.block5 {
  background-image: url("../img/gallery/accom/bedroom1.jpg");
}

.block6 {
  background-image: url("../img/gallery/accom/kitchen.jpg");
}

.block7 {
  background-image: url("../img/gallery/accom/livingroom1.jpg");
}

.block8 {
  background-image: url("../img/gallery/accom/bathroom.jpg");
}

div.mainline1 {
  width: 100vw;
  color: #343930;
}
div.mainline1 div.text {
  text-align: center;
}
div.mainline1 div.text div.col h2 {
  font-size: 32px;
  margin: 20px 0 50px 0;
}
div.mainline1 div.text div.col div.des {
  width: 60%;
  margin: 0 auto;
}
div.mainline1 div.text div.col div.des p {
  font-size: 18px;
}
div.mainline1 div.text div.col div.starred p {
  font-size: 12px;
  margin-bottom: 10px;
}

div.mainline2 {
  width: 100vw;
}
div.mainline2 div.container div.row div.sq div.imgplace img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
div.mainline2 div.container div.row div.sq p {
  display: inline-block;
  text-align: center;
  margin: 20px 10px 65px 10px;
  color: #f7ecdf;
}

.spacer {
  height: 40px;
}

div.mainline3 {
  width: 100vw;
  height: 90px;
}
div.mainline3 div.container {
  height: 100%;
}
div.mainline3 div.container div.row {
  font-size: 24px;
}
div.mainline3 div.container div.row div.res div.button {
  margin-top: 35px;
  text-align: center;
}
div.mainline3 div.container div.row div.res div.button a {
  color: #f7ecdf;
  background-color: #343930;
  padding: 5px 40px;
  transition: 0.6s;
}
div.mainline3 div.container div.row div.res div.button a:hover {
  text-decoration: none;
  background-color: #e8cba6;
  color: #343930;
}
div.mainline3 div.container div.row div.back {
  margin-top: 35px;
}
div.mainline3 div.container div.row div.back a {
  color: #343930;
  padding: 5px;
  transition: 0.6s;
}
div.mainline3 div.container div.row div.back a:hover {
  text-decoration: none;
  color: #343930;
  border-bottom: 2px solid #343930;
}

div.logreg {
  width: 100vw;
  background-color: #bea37e;
}
div.logreg div.container {
  background-color: #e8cba6;
  min-height: 800px;
}
div.logreg div.container div.row div.col-12 {
  color: #343930;
  text-align: center;
}
div.logreg div.container div.row div.col-12 h2 {
  margin-top: 60px;
  font-size: 32px;
}
div.logreg div.container div.row div.col-12 form div {
  margin-top: 20px;
  text-decoration: none;
}
div.logreg div.container div.row div.col-12 form div input {
  padding: 10px;
  width: 70%;
  border: 1px solid #e8cba6;
  font-size: 14px;
  background-color: #f7ecdf;
  color: #343930;
}
div.logreg div.container div.row div.col-12 form div input[type=submit] {
  background-color: #343930;
  color: #e8cba6;
  transition: 0.6s;
  margin: 10px 0 20px 0;
  width: 50%;
  font-size: 24px;
}
div.logreg div.container div.row div.col-12 form div input[type=submit]:hover {
  background-color: #f7ecdf;
  border: 1px solid #343930;
  color: #343930;
  cursor: pointer;
}
div.logreg div.container div.row div.col-12 form div input::placeholder {
  color: #343930;
  transition: 0.6s;
  position: relative;
  left: 0;
}
div.logreg div.container div.row div.col-12 form div input:focus::placeholder {
  opacity: 0.5;
  left: 20px;
}

.redtext {
  text-align: left;
  display: block;
  margin-left: 95px;
  margin-bottom: 3px;
  color: red;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}

.abimg1 {
  background-image: url("../img/about/face1.png");
}

.abimg2 {
  background-image: url("../img/about/face2.png");
}

.abimg3 {
  background-image: url("../img/about/dogo.jpg");
  border: 1px solid #e8cba6;
}

.abimg {
  height: 150px;
  width: 150px;
  margin: 20px auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.about {
  width: 100vw;
  background-color: #bea37e;
}
div.about div.container div.row div.col-12 div.text {
  width: 60%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
}
div.about div.container div.row div.col-12 div.text p {
  font-size: 18px;
  margin-bottom: 50px;
  font-family: "Leckerli One", cursive;
  color: #343930;
}
div.about div.container div.row div.col-12 h2 {
  margin: 40px;
  text-align: center;
  font-size: 32px;
}

.lnimg1::before {
  background-image: url("../img/landmarks/city.jpg");
}

.lnimg2::before {
  background-image: url("../img/landmarks/manor.jpg");
}

.lnimg3::before {
  background-image: url("../img/landmarks/palace.jpg");
}

.lnimg4::before {
  background-image: url("../img/landmarks/path.jpg");
}

.lnimg5::before {
  background-image: url("../img/landmarks/sea.jpg");
}

.lnimg6::before {
  background-image: url("../img/landmarks/swamp.jpg");
}

div.land {
  width: 100vw;
  background-color: #e8cba6;
}
div.land div.container {
  background-color: #e8cba6;
}
div.land div.container div.row div.col-12 h1 {
  font-size: 32px;
  margin: 50px 0;
  text-align: center;
  color: #343930;
}
div.land div.container div.row div.col-12 a {
  text-decoration: none;
}
div.land div.container div.row div.col-12 a div.lnimg {
  border: 1px solid #f7ecdf;
  height: 300px;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
div.land div.container div.row div.col-12 a div.lnimg h2 {
  margin-top: 220px;
  font-size: 32px;
  position: relative;
  color: #e8cba6;
}
div.land div.container div.row div.col-12 a div.lnimg::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
div.land div.container div.row div.col-12 a div.lnimg:hover::before {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

div.gallery {
  width: 100vw;
  background-color: #bea37e;
}
div.gallery div.container div.row div.col-12 {
  background-color: #f7ecdf;
}
div.gallery div.container div.row div.col-12 h1 {
  margin: 40px;
  text-align: center;
  font-size: 32px;
  color: #343930;
}
div.gallery div.container div.row div.col-12 a {
  text-decoration: none;
  transition: 0.3s;
}
div.gallery div.container div.row div.col-12 a div.gimg {
  height: 400px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.gallery div.container div.row div.col-12 a div.gimg h2 {
  font-size: 32px;
  position: relative;
  color: #f7ecdf;
}
div.gallery div.container div.row div.col-12 a div.gimg::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
div.gallery div.container div.row div.col-12 a div.gimg:hover::before {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
div.gallery div.container div.row div.col-12 a div.gimg1::before {
  background-image: url("../img/gallery/accom/livingroom1.jpg");
}
div.gallery div.container div.row div.col-12 a div.gimg2::before {
  background-image: url("../img/gallery/events/horse1.jpg");
}
div.gallery div.container div.row div.col-12 a div.gimg3::before {
  background-image: url("../img/gallery/seasons/autumn1.jpg");
}

div.specgal {
  width: 100vw;
  background-color: #bea37e;
}
div.specgal div.container {
  background-color: #f7ecdf;
}
div.specgal div.container div.row h1.gtitle {
  font-size: 24px;
  color: #343930;
  text-align: center;
  margin: 20px 0;
}
div.specgal div.container div.row div.col-12 div.ok img {
  margin: 15px 0;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.6s;
}
div.specgal div.container div.row div.col-12 div.ok img:hover {
  cursor: pointer;
  filter: grayscale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.slideshow {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.specphotos {
  position: relative;
  top: 50px;
  height: 1080px;
  width: 90%;
  margin: 0 auto;
}

.blocka {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.active {
  opacity: 1;
}

.specbuttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 60%;
  font-size: 42px;
}
.specbuttons a {
  text-decoration: none;
  color: #e8cba6;
  padding: 20px;
}
.specbuttons a:hover {
  color: #e99573;
}

.closeslide {
  height: 20px;
  width: 20px;
  margin: 0 auto;
}
.closeslide a {
  color: #e8cba6;
  padding: 10px;
  font-size: 32px;
}
.closeslide a:hover {
  color: #e99573;
  text-decoration: none;
}

.specslide {
  width: 50%;
}

#next {
  margin-left: 60px;
}

#prev {
  margin-right: 60px;
}

.oran {
  background-color: #e99573;
}

div.resdetails {
  width: 100vw;
}
div.resdetails div.container div.details div.calbox {
  overflow: hidden;
}
div.resdetails div.container div.details div.calbox div.cal {
  height: 250px;
  width: 50%;
  float: left;
}
div.resdetails div.container div.formbox form div.form {
  margin-top: 20px;
  margin-left: 45%;
  color: #e8cba6;
}
div.resdetails div.container div.formbox form div.form input {
  margin: 10px 0 20px 0;
  border: 1px solid #e8cba6;
  color: #e8cba6;
}
div.resdetails div.container div.formbox form div.form input::placeholder {
  color: #343930;
  transition: 0.6s;
  position: relative;
  left: 0;
}
div.resdetails div.container div.formbox form div.form input:focus::placeholder {
  opacity: 0.5;
  left: 20px;
}
div.resdetails div.container div.formbox form div.form input[type=text] {
  width: 40px;
  height: 30px;
  color: #343930;
}
div.resdetails div.container div.formbox form div.form input[type=checkbox] {
  font-size: 24px;
}
div.resdetails div.container div.total div.list h3 {
  color: #343930;
  font-size: 32px;
  margin-top: 20px;
}
div.resdetails div.container div.total div.pay {
  margin: 20px 0;
}
div.resdetails div.container div.total div.pay a {
  text-decoration: none;
}
div.resdetails div.container div.total div.pay a div.topay {
  height: 38px;
  background-color: #343930;
  color: #e8cba6;
  text-align: center;
  font-size: 32px;
  transition: 0.6s;
}
div.resdetails div.container div.total div.pay a div.topay:hover {
  text-decoration: none;
  background-color: #e8cba6;
  color: #343930;
  border: 1px solid #343930;
}
div.resdetails div.container div.weather p {
  font-size: 24px;
  margin: 40px;
}

.marweather {
  margin-top: 40px;
}

.list {
  height: 90%;
}

.topay {
  height: 10%;
  width: 50%;
  margin: 0 auto;
  background-color: #343930;
}

.hoverme:hover .filler {
  transition: 0.1s;
  transform-origin: 50% 50%;
  animation: rotate 2s 5;
}
.hoverme:hover .circolor {
  animation: color 1s 1;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  45% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes color {
  0% {
    fill: #343930;
  }
  50% {
    fill: #fafafa;
  }
  100% {
    fill: #e8cba6;
  }
}

/*# sourceMappingURL=style.css.map */
