/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.header {
  height: 80px;
  width: 100vw;
  background-color: #343930;
}
div.header div.container {
  height: 100px;
}
div.header div.container div.row {
  height: 100%;
}
div.header div.container div.row div.hnav nav {
  text-align: center;
}
div.header div.container div.row div.hnav nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  font-size: 0;
}
div.header div.container div.row div.hnav nav ul li {
  display: inline-block;
}
div.header div.container div.row div.hnav nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #e8cba6;
  font-size: 22px;
  padding: 21px;
  transition: 0.6s;
  font-family: "Roboto Slab", serif;
}
div.header div.container div.row div.hnav nav ul li a.micasa {
  font-size: 46px;
  font-family: "Leckerli One", cursive;
  padding: 17px;
}
div.header div.container div.row div.hnav nav ul li a:hover {
  color: #343930;
  background-color: #e8cba6;
}

div.footer {
  width: 100vw;
  background-color: #343930;
}
div.footer div.container div.fupper {
  height: 150px;
}
div.footer div.container div.fupper div.ficons nav {
  margin-top: 20px;
}
div.footer div.container div.fupper div.ficons nav ul li {
  display: inline-block;
}
div.footer div.container div.fupper div.ficons nav ul li a {
  margin-right: 10px;
  color: #e8cba6;
  font-size: 32px;
  transition: 0.6s;
}
div.footer div.container div.fupper div.ficons nav ul li a:hover {
  color: #e99573;
}
div.footer div.container div.fupper div.fnav nav ul li {
  text-align: center;
  margin: 10px 0;
}
div.footer div.container div.fupper div.fnav nav ul li a {
  text-decoration: none;
  color: #e8cba6;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  padding: 2px 15px;
  transition: 0.6s;
}
div.footer div.container div.fupper div.fnav nav ul li a:hover {
  border-bottom: 1px solid #e99573;
  color: #e99573;
}
div.footer div.container div.flower {
  height: 60px;
}
div.footer div.container div.flower p {
  text-align: center;
  color: #e8cba6;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin-top: 20px;
}
div.footer div.container div.flower p span {
  font-family: "Leckerli One", cursive;
  font-size: 13px;
}

div.hero {
  width: 100vw;
  height: 880px;
  background-image: url("../img/heroRet.jpg");
  background-size: cover;
  background-position: center;
}
div.hero div.row {
  height: 100%;
}
div.hero div.row div.col {
  text-align: center;
  margin: 550px 0;
}
div.hero div.row div.col a {
  background-color: rgba(52, 57, 48, 0.8);
  color: #e8cba6;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  text-decoration: none;
  padding: 5px 50px;
  transition: 0.6s;
}
div.hero div.row div.col a:hover {
  background-color: rgba(232, 203, 166, 0.8);
  color: #343930;
}

div.ghouse {
  width: 100vw;
  height: 450px;
  font-family: "Roboto Slab", serif;
  color: #343930;
}
div.ghouse div.container {
  height: 450px;
}
div.ghouse div.container div.row div.col {
  margin-top: 50px;
  height: 350px;
  text-align: center;
}
div.ghouse div.container div.row div.col h2 {
  margin: 50px 0;
  font-size: 36px;
}
div.ghouse div.container div.row div.col h3 {
  margin-top: 20px;
  font-size: 20px;
}
div.ghouse div.container div.row div.col div.text {
  max-width: 45vw;
  height: 30%;
  margin: 0 auto;
}
div.ghouse div.container div.row div.col div.text p {
  font-size: 18px;
}
div.ghouse div.container div.row div.col div.button {
  margin-top: 30px;
}
div.ghouse div.container div.row div.col div.button a {
  text-decoration: none;
  font-size: 20px;
  color: #e8cba6;
  background-color: #343930;
  padding: 5px 30px;
  transition: 0.6s;
}
div.ghouse div.container div.row div.col div.button a.land {
  background-color: #e99573;
  color: #343930;
  transition: 0.6s;
}
div.ghouse div.container div.row div.col div.button a:hover {
  background-color: #e99573;
  color: #343930;
}
div.ghouse div.container div.row div.col div.button a.land:hover {
  border: 1px solid #343930;
}

.lighter {
  background-color: #ddd2c3;
}

.darker {
  background-color: #e8cba6;
}

div.mainline1 {
  width: 100vw;
  font-family: "Roboto Slab", serif;
  color: #343930;
}
div.mainline1 div.prev {
  height: 400px;
}
div.mainline1 div.text {
  text-align: center;
}
div.mainline1 div.text div.col h2 {
  font-size: 32px;
  margin: 20px 0 50px 0;
}
div.mainline1 div.text div.col div.des {
  width: 60%;
  margin: 0 auto;
}
div.mainline1 div.text div.col div.des p {
  font-size: 18px;
}
div.mainline1 div.text div.col div.starred p {
  font-size: 12px;
  margin-bottom: 10px;
}

div.mainline2 div.container div.row div.sq p {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 10px 10px 25px 10px;
}

.imgplace {
  height: 200px;
}

div.mainline3 {
  width: 100vw;
  height: 100px;
}
div.mainline3 div.container {
  height: 100px;
}
div.mainline3 div.container div.row {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}
div.mainline3 div.container div.row div.res div.button {
  margin-top: 35px;
  text-align: center;
}
div.mainline3 div.container div.row div.res div.button a {
  color: #e8cba6;
  background-color: #343930;
  padding: 5px 40px;
  transition: 0.6s;
}
div.mainline3 div.container div.row div.res div.button a:hover {
  text-decoration: none;
  background-color: #e99573;
  color: #343930;
}
div.mainline3 div.container div.row div.back {
  margin-top: 35px;
}
div.mainline3 div.container div.row div.back a {
  color: #343930;
  padding: 5px;
  transition: 0.6s;
}
div.mainline3 div.container div.row div.back a:hover {
  text-decoration: none;
  background-color: #e99573;
  color: #343930;
}

/*# sourceMappingURL=style.css.map */
