

div.header {
    height: 80px;
    width: 100vw;
    background-color: $theme-g;
    div.container{
        height:100px;
        div.row{
            height: 100%;
            div.hnav {
                nav{
                    text-align: center;
                    ul{ 
                        list-style-type: none;
	                    display: inline-block;
                        margin: 0;
                        font-size: 0;
                        li{
                            display: inline-block;
                            a{
                                text-decoration: none;
                                display: inline-block;
                                color: $theme-c;
                                font-size: 22px;
                                padding: 21px;
                                padding-top: 37px;
                                transition: .6s;
                           
                            }
                            a.micasa {
                                font-size: 46px;
                                font-family: $font-Leck;
                                padding: 17px;
                            }
                            a.micasa:hover {
                                background-color: $theme-g;
                                color:$theme-c;
                            }
                            a:hover {
                                color: $theme-g;
                                background-color: $theme-c;
                            }
                        }
                    }
                }
            }    
        }    
    }
}