$theme-g:  #343930;
$theme-g-trans:rgba(52,57,48,.8);
$theme-darkc:#bea37e; 
$theme-lightc: rgb(226, 222, 214);
$theme-c: #e8cba6; 
$theme-c-trans: rgba(232,203,166,.8);
$theme-or:rgb(233, 149, 115);
$theme-or-trans:rgba(252, 168, 132, 0.8);


$font-Robo: "Roboto Slab", serif;