@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

body {
    background-color: $theme-g;
    font-family: $font-Robo;
    overflow-x: hidden;
}
//Color schemes for background
.lighter{
    background-color: $theme-lightc;
}
.darker{
    background-color: $theme-g;
}
.darkerc{
    background-color: $theme-darkc;
}
//frame for banners
.lighterb{
    border:2px solid $theme-g;
    background-color: $theme-lightc;
    color: $theme-g;
}
.darkerb{
    border:2px solid $theme-c;
    background-color: $theme-g;
    color: $theme-c;
}
//buttons
.darkera{
    color: $theme-c;
    background-color: $theme-g;
}
.lightera{
    color: $theme-g;
    background-color: $theme-lightc;
}
.mixed {
    color:$theme-g;
    background-color: $theme-lightc;
    border: 1px solid $theme-g;    
}
//buttons on hover
.lightera:hover {
    border: 1px solid $theme-lightc;
    color:$theme-lightc;
    background-color: $theme-g;
}
.darkera:hover {
    background-color: $theme-lightc;
    color: $theme-g;
    border: 1px solid $theme-g;    
}
.mixed:hover{
    color: $theme-g;
    background-color: $theme-c;
}


// HOMEPAGE HERO

div.hero {
    width:100vw;
    height:880px;
    background-image: url('../img/heroRet.jpg');
    background-size: cover;
    background-position: center;
    div.row {
        height:100%;
        div.col {
            text-align: center;
            margin: 550px 0;
            a {
                background-color: $theme-g-trans;
                color: $theme-c;
                font-size: 36px;
                text-decoration: none;
                padding: 5px 50px;
                transition: .6s;    
            }
            a:hover {
                background-color: $theme-c-trans;
                color: $theme-g;
            }
        }
    }   
}

// BANNERS (HOMEPAGE/RESERVATIONS)

div.ghouse {
    width: 100vw;
    height: 450px;
    div.container {
        height:450px;
        div.row {
            div.col {
                margin-top: 50px;
                height:350px;
                text-align: center;
                h2 {
                    margin: 50px 0;
                    font-size: 36px;
                }
                h3{
                    margin-top: 20px;
                    font-size: 20px;
                }
                div.text {
                    max-width: 45vw;
                    height: 30%;
                    margin: 0 auto;
                    p{
                        font-size: 18px;

                    }
                }
                div.button {
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        padding: 5px 30px;
                        transition: .6s; 
                    }
                }
            }
        }
    }
}
// GUEST HOUSE and Rooms
.prev {
    height:500px;
}
.block {
    height: 500px;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    background-size: cover;
    background-position: center;
    img {
       text-align: center;
       height:480px;
    }
}
.gallery {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  } 
.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 45%;
   
    a {
        text-decoration: none;
        color: $theme-g;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 20px;
        font-size: 62px;
    }    
    a:hover {
        color: $theme-lightc;;
    }
}         
.photos{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
   
.active{
    opacity: 1;
}
  

.block1 {
    background-image: url("../img/gallery/ghouse/house1.jpg");
}
.block2 {
    background-image: url("../img/gallery/ghouse/house5.jpg");
}
.block3 {
    background-image: url("../img/gallery/ghouse/room1.jpg");
}
.block4 {
    background-image: url("../img/gallery/ghouse/sauna.jpg");
}
.block5 {
    background-image: url("../img/gallery/accom/bedroom1.jpg");
}
.block6 {
    background-image: url("../img/gallery/accom/kitchen.jpg");
}
.block7 {
    background-image: url("../img/gallery/accom/livingroom1.jpg");
}
.block8 {
    background-image: url("../img/gallery/accom/bathroom.jpg");
}


// PREVIEW AND PRICE
div.mainline1 {
    width: 100vw;
    color: $theme-g;
    div.text {
        text-align: center;
        div.col {
            h2 {
                font-size: 32px;
                margin:20px 0 50px 0;
            }
            div.des {
                width:60%;
                margin: 0 auto;
                p{
                    font-size: 18px;
                }
            }
            div.starred {
                p {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
    }  
}

// RULES

div.mainline2 {
    width: 100vw;
    div.container{
        div.row {
            div.sq {
                div.imgplace {
                    img{
                        width: 100px;
                        display:block;
                        margin:0 auto;                        
                    }
                }
                p{  
                    display: inline-block;
                    text-align: center;
                    margin: 20px 10px 65px 10px;
                    color: $theme-lightc;
                
                }
            }
        }
    }
}
.spacer {
    height:40px;
}

//RESERVATION BUTTON

div.mainline3 {
    width: 100vw;
    height: 90px;
    div.container {
        height: 100%;
        div.row {
            font-size: 24px;
            div.res {                
                div.button{
                    margin-top: 35px;
                    text-align: center;
                    a {
                        color: $theme-lightc;
                        background-color: $theme-g;
                        padding: 5px 40px;
                        transition:.6s;                         
                    }
                    a:hover {
                        text-decoration: none;
                        background-color: $theme-c;
                        color:$theme-g;
                    }     
                }
            }
            div.back{
                margin-top: 35px;
                a{
                    color: $theme-g;
                    padding: 5px;
                    transition:.6s;               
                }
                a:hover {
                    text-decoration: none;
                    color:$theme-g;
                    border-bottom: 2px solid $theme-g;
                    
                }
            }
        }
    }
}

// LOGIN / REGISTER

div.logreg {
    width: 100vw;
    background-color: $theme-darkc;
    div.container{
        background-color: $theme-c;
        min-height: 800px;  
        div.row{ 
            div.col-12 {
                color:$theme-g;
                text-align: center;
                h2{
                    margin-top:60px;
                    font-size: 32px; 
                }
                form{
                    div{
                        margin-top: 20px;
                        text-decoration: none;
                        input{
                            padding: 10px;
                            width: 70%;
                            border: 1px solid $theme-c;
                            font-size: 14px;
                            background-color: $theme-lightc;
                            color:$theme-g;
                        }
                        input[type="submit"] {
                            background-color: $theme-g;
                            color: $theme-c;
                            transition: .6s;
                            margin: 10px 0 20px 0;
                            width: 50%;
                            font-size: 24px;   
                        }
                        input[type="submit"]:hover {
                            background-color: $theme-lightc;
                            border: 1px solid $theme-g;
                            color: $theme-g; 
                            cursor: pointer;   
                        }
                        input::placeholder {
                            color: $theme-g;
                            transition: .6s;
                            position: relative;
                            left: 0;  
                        }      
                        input:focus::placeholder {
                            opacity: .5;
                            left: 20px;
                           
                        } 
                    }
                }
            }
        }
    }
}



.redtext {
    text-align: left;
    display: block;
    margin-left: 95px;
    margin-bottom: 3px;
    color:red;
    font-size: 12px;
    font-family: $font-Robo;
}

// ABOUT US 

.abimg1 {
    background-image: url('../img/about/face1.png') ;
}
.abimg2 {
    background-image: url('../img/about/face2.png') ;

}
.abimg3 {
    background-image: url('../img/about/dogo.jpg') ;
    border: 1px solid $theme-c;
}
.abimg {
    height: 150px;
    width: 150px;
    margin:20px auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.about{
    width: 100vw;
    background-color: $theme-darkc;
    div.container{
        div.row{
            div.col-12{ 
                div.text {
                    width: 60%;
                    height: 30%;
                    margin: 0 auto;
                    text-align: center;
                    p {
                        font-size: 18px;
                        margin-bottom: 50px;
                        font-family: $font-Leck;
                        color: $theme-g;
                    }
                }
                h2{
                    margin: 40px;
                    text-align: center;
                    font-size: 32px;
                }
            }
        }
    }
}

//LANDMARK PAGE


.lnimg1::before{
    background-image: url('../img/landmarks/city.jpg');
}
.lnimg2::before{
    background-image: url('../img/landmarks/manor.jpg');
}
.lnimg3::before{
    background-image: url('../img/landmarks/palace.jpg');
}
.lnimg4::before{
    background-image: url('../img/landmarks/path.jpg');
}
.lnimg5::before{
    background-image: url('../img/landmarks/sea.jpg');
}
.lnimg6::before{
    background-image: url('../img/landmarks/swamp.jpg');
}

div.land {
    width: 100vw;
    background-color: $theme-c;
    div.container {
        background-color: $theme-c;
        div.row {
            div.col-12 {
                h1 {
                    font-size: 32px;
                    margin: 50px 0;
                    text-align: center;
                    color: $theme-g;
                }
                a{  
                    text-decoration: none;
                    div.lnimg {
                        border: 1px solid $theme-lightc;
                        height:300px;
                        margin-bottom: 15px;
                        text-align: center;
                        position: relative;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        transition: .3s;
                        h2 {
                            margin-top: 220px;
                            font-size: 32px;
                            position: relative;
                            color: $theme-c;         
                        }
                    }
                    div.lnimg::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-size: cover;
                        background-position: center;
                    }
                    div.lnimg:hover::before {
                        filter: blur(2px);
                        -webkit-filter: blur(2px);
                    }
                }
            }
        }
    }
}
// GALLERY MENU

div.gallery {
    width: 100vw;
    background-color: $theme-darkc;
    div.container{
        div.row{
            div.col-12{
                background-color: $theme-lightc;
                h1 {
                    margin: 40px;
                    text-align: center;
                    font-size: 32px;
                    color: $theme-g;
                }
                a{  
                    text-decoration: none;
                    transition: .3s;
                    div.gimg {
                        height:400px;
                        text-align: center;
                        position: relative;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        h2{
                            font-size: 32px;
                            position: relative;
                            color: $theme-lightc; 
                        }
                    }
                    div.gimg::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-size: cover;
                        background-position: center;
                        transition: .6s;  
                    }
                    div.gimg:hover::before {
                        filter: blur(2px);
                        -webkit-filter: blur(2px);
                    }
                    div.gimg1::before {
                        background-image: url('../img/gallery/accom/livingroom1.jpg');
                    }
                    div.gimg2::before {
                        background-image: url('../img/gallery/events/horse1.jpg');
                    }
                    div.gimg3::before {
                        background-image: url('../img/gallery/seasons/autumn1.jpg');
                    }   
                }
            }
        }
    }
}
//GALLERY Accomodation, Events and Seasons

div.specgal {
    width: 100vw;
    background-color: $theme-darkc;
    div.container {
        background-color: $theme-lightc;
        div.row {
            h1.gtitle {
                font-size: 24px;
                color: $theme-g;
                text-align: center;
                margin: 20px 0;
            }
            div.col-12 {
               div.ok{
                    img {
                        margin:15px 0;
                        width:100%;
                        filter: grayscale(100%);
                        transition: .6s;                   
                    }
                    img:hover {
                        cursor: pointer;
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

//Lightbox

.overlay {
    display:none;
    position: fixed;
    top:0;
    background-color: rgba(0,0,0,.9);
    width:100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.slideshow {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.specphotos {
    position: relative;
    top: 50px;
    height: 1080px;
    width: 90%;
    margin: 0 auto;
}
.blocka {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}
.active {
    opacity: 1;
}
.specbuttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 60%;
    font-size: 42px;

    a {
        text-decoration: none;
        color: $theme-c;
        padding: 20px;
    }
    a:hover {
        color: $theme-or;
    }
}
.closeslide {
    height: 20px;
    width:20px;
    margin: 0 auto;
    a{  
        color: $theme-c;
        padding: 10px;
        font-size: 32px;
    }
    a:hover {
        color: $theme-or;
        text-decoration: none;
    }
}
.specslide {
    width: 50%;
}
#next {
    margin-left: 60px;
}
#prev {
    margin-right: 60px;
}


//Reservation details 

.oran {
    background-color: $theme-or;
}
div.resdetails {
    max-width: 1920px;
    background-color: $theme-darkc;
    div.container {
        div.hid{
            overflow: hidden;
            background-color: $theme-lightc; 
            div.prog {
                height: 30px;
                width: 33%;
                float: left;
                h3 {
                    margin-top: 5px;
                    text-align: center;
                    font-size: 18px;   
                }
            }
        }
        div.details {
            background-color: $theme-c;
            div.calbox{
                overflow: hidden;
                div.cal{
                    height:250px;
                    width:50%;
                    float:left;
                    border: 1px solid $theme-g;
                }
            }
            div.formbox{ 
                border: 1px solid $theme-g;
                form{
                    div.form{
                        width: 300px;
                        height:50px;
                        margin: 0 auto;
                        input{
                            margin: 10px 0 20px 0;
                            border: 1px solid $theme-c;
                        }
                        input[type="text"] {
                            width: 40px;
                            height:30px;
                            text-align: center;
                        }
                        input[type="checkbox"] {
                            font-size: 24px;     
                        }
                    }  
                }
            }
        } 
        div.weather{
            height:100px;
            background-color: $theme-lightc;
            font-size: 24px;
            div.middle{
                text-align: center;   
            }
        }
        div.total {
            a{
                text-decoration: none;
                div.topay {
                    height:38px;
                    background-color: $theme-g;
                    color: $theme-c;
                    text-align: center;
                    font-size: 32px;
                    transition: .6s; 
                }
                div.topay:hover {
                    text-decoration: none;
                    background-color: $theme-c;
                    color: $theme-g;
                    border: 1px solid $theme-g;
                }
            }
        }
    }
}

.marweather {
    margin-top: 40px;
}
.list {
    height: 90%;
}
.topay {
    height: 10%;
    width: 100%;
    background-color: $theme-g;
}

//SVG ANIMATION

.hoverme:hover {
    .filler{
        transition: .1s;
        transform-origin: 50% 50%;
        animation: rotate 2s 5;
    }
    .circolor{
        animation: color 1s 1;
    }
    @keyframes rotate {
        0% {transform: rotate(0)}
        45% {transform: rotate(0)}
        100% {transform: rotate(360deg)}
    }
    @keyframes color {
        0% {fill: $theme-g }
        50% {fill: rgb(250, 250, 250)}
        100% {fill: $theme-c }
    }

}
