@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

body {
    background-color: $theme-g;
    font-family: $font-Robo;
}
// HOMEPAGE HERO

div.hero {
    width:100vw;
    height:880px;
    background-image: url('../img/heroRet.jpg');
    background-size: cover;
    background-position: center;
    div.row {
        height:100%;
        div.col {
            text-align: center;
            margin: 550px 0;
            a {
                background-color: $theme-g-trans;
                color: $theme-c;
                font-size: 36px;
                text-decoration: none;
                padding: 5px 50px;
                transition: .6s;    
            }
            a:hover {
                background-color: $theme-c-trans;
                color: $theme-g;
            }
        }
    }   
}

// BANNERS (HOMEPAGE/RESERVATIONS)

div.ghouse {
    width: 100vw;
    height: 450px;
    color: $theme-g;
    div.container {
        height:450px;
        div.row {
            div.col {
                margin-top: 50px;
                height:350px;
                text-align: center;
                h2 {
                    margin: 50px 0;
                    font-size: 36px;
                }
                h3{
                    margin-top: 20px;
                    font-size: 20px;
                }
                div.text {
                    max-width: 45vw;
                    height: 30%;
                    margin: 0 auto;
                    p{
                        font-size: 18px;
                    }
                }
                div.button {
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        color: $theme-c;
                        background-color: $theme-g;
                        padding: 5px 30px;
                        transition: .6s; 
                    }    
                    a.land{
                            background-color: $theme-or;
                            color: $theme-g;
                            transition: .6s;
                    }    
                    
                    a:hover {
                        background-color: $theme-or;
                        color: $theme-g;    
                    }
                    a.land:hover {
                        border: 1px solid $theme-g;
                    }
                }
            }
        } 
    }
}

.lighter{
    background-color: $theme-lightc;
}
.darker{
    background-color: $theme-c;
}

// GUEST HOUSE and Rooms

// PREVIEW AND PRICE
div.mainline1 {
    width: 100vw;
    color: $theme-g;
    div.prev {
        height:400px;   
    }
    div.text {
        text-align: center;
        div.col {
            h2 {
                font-size: 32px;
                margin:20px 0 50px 0;
            }
            div.des {
                width:60%;
                margin: 0 auto;
                p{
                    font-size: 18px;
                }
            }
            div.starred {
                p {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
    }  
}

// RULES

div.mainline2 {
    div.container{
        div.row {
            div.sq {
                p{  
                    display: inline-block;
                    text-align: center;
                    margin: 10px 10px 25px 10px;
                
                }
            }
        }
    }
}
.imgplace{
    height:200px;
}

//RESERVATION BUTTON

div.mainline3 {
    width: 100vw;
    height: 100px;
    div.container {
        height: 100px;
        div.row {
            font-size: 24px;
            div.res {                
                div.button{
                    margin-top: 35px;
                    text-align: center;
                    a {
                        color: $theme-c;
                        background-color: $theme-g;
                        padding: 5px 40px;
                        transition:.6s;                         
                    }
                    a:hover {
                        text-decoration: none;
                        background-color: $theme-or;
                        color:$theme-g;
                    }
                }
            }
            div.back{
                margin-top: 35px;
                a{
                    color: $theme-g;
                    padding: 5px;
                    transition:.6s;               
                }
                a:hover {
                    text-decoration: none;
                    background-color: $theme-or;
                    color:$theme-g;
                }
            }
        }
    }
}

// LOGIN / REGISTER

div.logreg {
    background-color: $theme-darkc;
    div.container{
        min-height: 800px;  
        div.row{ 
            div.col-12 {
                color:$theme-g;
                text-align: center;
                h2{
                    margin-top:60px;
                    font-size: 32px; 
                }
                form{
                    div{
                        margin-top: 20px;
                        text-decoration: none;
                        input{
                            height: 40px;
                            width: 70%;
                            border: 1px solid $theme-c;
                            font-size: 14px;
                            background-color: $theme-lightc;
                            color:$theme-g;
                        }
                        input[type="submit"] {
                            background-color: $theme-g;
                            color: $theme-c;
                            transition: .6s;
                            margin: 10px 0 20px 0;
                            width: 50%;
                            font-size: 24px;   
                        }
                        input[type="submit"]:hover {
                            background-color: $theme-or-trans;
                            border: 1px solid $theme-g;
                            color: $theme-g;    
                        } 
                    }
                }
            }
        }
    }
}

// ABOUT US 

.abimg1 {
    background-image: url('../img/face1.png') ;
}
.abimg2 {
    background-image: url('../img/face2.png') ;

}
.abimg3 {
    background-image: url('../img/dogo.jpg') ;
    border: 1px solid $theme-c;
}
.abimg {
    height: 150px;
    width: 150px;
    margin:20px auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.about{
    background-color: $theme-darkc;
    div.container{
        div.row{
            div.col-12{
                color: $theme-g;
                
                div.text {
                    width: 60%;
                    height: 30%;
                    margin: 0 auto;
                    text-align: center;
                    p {
                        font-size: 16px;
                        margin-bottom: 50px;
                    }
                }
                h2{
                    margin: 40px;
                    text-align: center;
                    font-size: 32px;
                }
            }
        }
    }
}






